<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
</head>
<body>
<form action="/customer/add" method="post">
<table>
    <tr>
        <td>Id:</td>
        <td><input type="text" name="id" required></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td><input type="text" name="name" required></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td><input type="text" name="address" required></td>
    </tr>
    <tr>
        <td>Conatact Number:</td>
        <td><input type="text" name="contact" required></td>
    </tr>
    <tr>
        <td>GST number</td>
        <td><input type="text" name="gst" required></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Add"></td>
    </tr>
</table>
</form>
</body>
</html>