<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill Details</title>
</head>
<body>
<form action="/print_bill" method="post">
    <div align="center">
        <select name="customer_list" style="width: 200px;">
            <option value="Jai Ambe">Jai Ambe</option>
            <option value="Mahesh">Mahesh</option>
            <option value="Abhishek">Abhishek</option>
            <option value="Abhi">Abhi</option>
            <option value="Priyanka">Priyanka</option>
        </select>
        Start Date:<input type="date" name="start_date" required>
        End Date:<input type="date" name="end_date" required>
        <input type="submit" value="Sumbit">
        </div>
</form>
</body>
</html>